*{
margin: 0;
padding: 0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

body {
    background-color:rgb(39, 75, 69) ;
    
}
nav {      /*barra do menu*/
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 149, 6);
    height: 50px;
    position: fixed; 
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    width: 100%;
 }


h2 {     /*nome Erika na barra de menu - dentro da nav*/
    margin-left: 100px;
    color: rgb(74, 75, 39);
}

ul li {
    display: inline;
    list-style: none;
    
}

/* ul li :hover { } */

a {
    text-decoration: none;
    color: rgb(39, 75, 69);
    padding: 0px 15px;
}


button {
    background-color:rgb(245, 149, 6) ;  
    color: rgb(39, 75, 69);
    width: 180px;
    height: 36px;
    border: solid 1px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}


     
section {       /*bloco Olá!Eu sou a Erika com desenho*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    
  
}

.ola {       /*bloco Olá!Eu sou a Erika com desenho*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    
  
}
section img {       /*imagem de desenho*/
      
    width: 440px;
    height: 440px;
    margin: 0px 100px;
}

section button {       /*botoes linkedin e github*/
    background-color: rgb(39, 75, 69);
    font:bold;
    border: solid 1px rgb(245, 149, 6);
    width: 190px;
    height: 36px;
    border-radius: 5px;
    margin: 15px;

    -webkit-box-shadow: 6px 6px 9px -3px rgba(0, 0, 0, 0.856);
    -moz-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    
}

.mim {                /**minha foto**/
    width: 250px; 
    height: 250px;
       
}

.home {
    margin: 100px;
    height: 10px;
    padding: 0px;

}

.sobremim {        /*titulo e descrição sobre mim esta dentro da section sobre mim*/
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 120px;
    margin: 10px;
    }

.projetos {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    
}
.experiencia {
    margin: 100px;
    height: 0px;
    padding: 0px;
}

.exp {        /*quadrados da experiencia*/
    width:60%;
    height: 280px;
    background-color: white;
    border-radius: 8px;
    
    padding: 20px;
    

    -webkit-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
}

main {        /*fundo dos quadrados do projeto*/
    width: 960px;
    height: auto;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

main .card {        /*quadrados do projeto*/
    width: 28%;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    
    padding: 10px;

    -webkit-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
}

.footer {
    padding: 15px;
    width: 0 auto;
    border-radius: 8px;
    background-color: rgb(245, 149, 6);
    margin: 20px;
    

    display: flex;
    justify-content: space-evenly;   

    -webkit-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.5);
}


